body {
    margin: 0;
    padding: 0
}
#oc_bordure, #oc_conteneur, #oc_conteneur a, #oc_fadein, #oc_fadeout, .oc_frame {
    width: 300px;
    height: 250px
}
#oc_conteneur {
    position: relative;
    overflow: hidden;
    cursor: pointer;
     background-image: url(img/bg.png);
}
#oc_conteneur * {
    position: absolute;
    overflow: hidden
}
#oc_conteneur a {
    z-index: 999;
    display: block
}
#oc_ml {
    top: oc_ml(top);
    left: oc_ml(left)
}
#oc_frame1 {
    -webkit-animation: oc_frame1 15s 3 ease forwards;
    animation: oc_frame1 15s 3 ease forwards
}
#oc_frame2 {
    -webkit-animation: oc_frame2 15s 3 ease forwards;
    animation: oc_frame2 15s 3 ease forwards
}
#oc_frame3 {
    -webkit-animation: oc_frame3 15s 3 ease forwards;
    animation: oc_frame3 15s 3 ease forwards
}
#oc_frame4 {
    -webkit-animation: oc_frame4 15s 3 ease forwards;
    animation: oc_frame4 15s 3 ease forwards
}
#oc_frame5 {
    -webkit-animation: oc_frame5 15s 3 ease forwards;
    animation: oc_frame5 15s 3 ease forwards
}
#oc_fadein, #oc_fadeout {
    opacity: 0;
    background: #fff
}
#oc_fadein {
    -webkit-animation: oc_fadein 15s 3 ease normal;
    animation: oc_fadein 15s 3 ease normal
}
#oc_fadeout {
    -webkit-animation: oc_fadeout 15s 3 ease normal;
    animation: oc_fadeout 15s 3 ease normal
}
#oc_bordure {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000
}
#oc_txt1 {
    -webkit-animation: oc_txt1 15s 3 ease normal;
    animation: oc_txt1 15s 3 ease normal
}
#oc_cercle_rouge {
    width: 600px;
    height: 500px;
    border-radius: 50%;
    left: 74px;
    top: -40px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background: #e4160a;
    -webkit-animation: oc_cercle_rouge 15s 3 ease forwards;
    animation: oc_cercle_rouge 15s 3 ease forwards
}
#oc_frame1_logo {
    -webkit-transform-origin: 205px 185px;
    -ms-transform-origin: 205px 185px;
    transform-origin: 205px 185px;
    -webkit-animation: oc_frame1_logo 15s 3 ease-in forwards;
    animation: oc_frame1_logo 15s 3 ease-in forwards
}
#oc_frame1_ml {
    -webkit-animation: oc_frame1_ml 15s 3 ease forwards;
    animation: oc_frame1_ml 15s 3 ease forwards
}
#oc_ml {
    -webkit-animation: oc_ml 15s 3 ease normal;
    animation: oc_ml 15s 3 ease normal
}
#oc_frame1_carte1 {
    -webkit-transform-origin: 222px 222px;
    -ms-transform-origin: 222px 222px;
    transform-origin: 222px 222px;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-animation: oc_frame1_carte1 15s 3 ease-out forwards;
    animation: oc_frame1_carte1 15s 3 ease-out forwards
}
@-webkit-keyframes oc_frame1_carte1 {
0%, 2.5% {
top:1px;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg)
}
5.5%, 22% {
top:0px;
-webkit-transform:rotate(0);
transform:rotate(0)
}
25%, to {
top:0px;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg)
}
}
@keyframes oc_frame1_carte1 {
0%, 2.5% {
top:1px;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg)
}
5.5%, 22% {
top:0px;
-webkit-transform:rotate(0);
transform:rotate(0)
}
25%, to {
top:0px;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg)
}
}
#oc_frame1_carte2 {
    -webkit-transform-origin: 222px 222px;
    -ms-transform-origin: 222px 222px;
    transform-origin: 222px 222px;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-animation: oc_frame1_carte2 15s 3 ease-out forwards;
    animation: oc_frame1_carte2 15s 3 ease-out forwards
}
@-webkit-keyframes oc_frame1_carte2 {
0%, 3% {
top:1px;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg)
}
6%, 22% {
top:0px;
-webkit-transform:rotate(0);
transform:rotate(0)
}
25%, to {
top:0px;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg)
}
}
@keyframes oc_frame1_carte2 {
0%, 3% {
top:1px;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg)
}
6%, 22% {
top:0px;
-webkit-transform:rotate(0);
transform:rotate(0)
}
25%, to {
top:0px;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg)
}
}
#oc_frame1_carte3 {
    -webkit-transform-origin: 222px 222px;
    -ms-transform-origin: 222px 222px;
    transform-origin: 222px 222px;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-animation: oc_frame1_carte3 15s 3 ease-out forwards;
    animation: oc_frame1_carte3 15s 3 ease-out forwards
}
@-webkit-keyframes oc_frame1_carte3 {
0%, 3.5% {
top:1px;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg)
}
6.5%, 22% {
top:0px;
-webkit-transform:rotate(0);
transform:rotate(0)
}
25%, to {
top:0px;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg)
}
}
@keyframes oc_frame1_carte3 {
0%, 3.5% {
top:1px;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg)
}
6.5%, 22% {
top:0px;
-webkit-transform:rotate(0);
transform:rotate(0)
}
25%, to {
top:0px;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg)
}
}
#oc_frame1_carte4 {
    -webkit-transform-origin: 222px 222px;
    -ms-transform-origin: 222px 222px;
    transform-origin: 222px 222px;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-animation: oc_frame1_carte4 15s 3 ease-out forwards;
    animation: oc_frame1_carte4 15s 3 ease-out forwards
}
@-webkit-keyframes oc_frame1_carte4 {
0%, 4% {
top:1px;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg)
}
7%, 22% {
top:0px;
-webkit-transform:rotate(0);
transform:rotate(0)
}
25%, to {
top:0px;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg)
}
}
@keyframes oc_frame1_carte4 {
0%, 4% {
top:1px;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg)
}
7%, 22% {
top:0px;
-webkit-transform:rotate(0);
transform:rotate(0)
}
25%, to {
top:0px;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg)
}
}
#oc_frame2_promo {
    -webkit-animation: oc_frame2_promo 15s 3 ease normal;
    animation: oc_frame2_promo 15s 3 ease normal
}
#oc_frame2_promo2 {
    -webkit-animation: oc_frame2_promo2 15s 3 ease normal;
    animation: oc_frame2_promo2 15s 3 ease normal
}
#oc_frame3_voiture {
    -webkit-animation: oc_frame3_voiture 15s 3 ease-out normal;
    animation: oc_frame3_voiture 15s 3 ease-out normal
}
#oc_frame3_avion {
    -webkit-animation: oc_frame3_avion 15s 3 ease-out normal;
    animation: oc_frame3_avion 15s 3 ease-out normal
}
#oc_frame3_txt1 {
    -webkit-animation: oc_frame3_txt1 15s 3 ease normal;
    animation: oc_frame3_txt1 15s 3 ease normal
}
#oc_frame3_txt2 {
    -webkit-animation: oc_frame3_txt2 15s 3 ease normal;
    animation: oc_frame3_txt2 15s 3 ease normal
}
#oc_frame3_ml {
    -webkit-animation: oc_frame3_ml 15s 3 ease forwards;
    animation: oc_frame3_ml 15s 3 ease forwards
}
#oc_frame4_carte1 {
    -webkit-transform-origin: 192px 372px;
    -ms-transform-origin: 192px 372px;
    transform-origin: 192px 372px;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-animation: oc_frame4_carte1 15s 3 ease-out forwards;
    animation: oc_frame4_carte1 15s 3 ease-out forwards
}
@-webkit-keyframes oc_frame4_carte1 {
0%, 75.5% {
top:1px;
-webkit-transform:rotate3d(0, 0, 1, -90deg);
transform:rotate3d(0, 0, 1, -90deg)
}
78.5%, to {
top:0px;
-webkit-transform:rotate3d(0, 0, 1, 0deg);
transform:rotate3d(0, 0, 1, 0deg)
}
}
@keyframes oc_frame4_carte1 {
0%, 75.5% {
top:1px;
-webkit-transform:rotate3d(0, 0, 1, -90deg);
transform:rotate3d(0, 0, 1, -90deg)
}
78.5%, to {
top:0px;
-webkit-transform:rotate3d(0, 0, 1, 0deg);
transform:rotate3d(0, 0, 1, 0deg)
}
}
#oc_frame4_carte2 {
    -webkit-transform-origin: 192px 372px;
    -ms-transform-origin: 192px 372px;
    transform-origin: 192px 372px;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-animation: oc_frame4_carte2 15s 3 ease-out forwards;
    animation: oc_frame4_carte2 15s 3 ease-out forwards
}
@-webkit-keyframes oc_frame4_carte2 {
0%, 76% {
top:1px;
-webkit-transform:rotate3d(0, 0, 1, -90deg);
transform:rotate3d(0, 0, 1, -90deg)
}
79%, to {
top:0px;
-webkit-transform:rotate3d(0, 0, 1, 0deg);
transform:rotate3d(0, 0, 1, 0deg)
}
}
@keyframes oc_frame4_carte2 {
0%, 76% {
top:1px;
-webkit-transform:rotate3d(0, 0, 1, -90deg);
transform:rotate3d(0, 0, 1, -90deg)
}
79%, to {
top:0px;
-webkit-transform:rotate3d(0, 0, 1, 0deg);
transform:rotate3d(0, 0, 1, 0deg)
}
}
#oc_frame4_carte3 {
    -webkit-transform-origin: 192px 372px;
    -ms-transform-origin: 192px 372px;
    transform-origin: 192px 372px;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-animation: oc_frame4_carte3 15s 3 ease-out forwards;
    animation: oc_frame4_carte3 15s 3 ease-out forwards
}
@-webkit-keyframes oc_frame4_carte3 {
0%, 76.5% {
top:1px;
-webkit-transform:rotate3d(0, 0, 1, -90deg);
transform:rotate3d(0, 0, 1, -90deg)
}
79.5%, to {
top:0px;
-webkit-transform:rotate3d(0, 0, 1, 0deg);
transform:rotate3d(0, 0, 1, 0deg)
}
}
@keyframes oc_frame4_carte3 {
0%, 76.5% {
top:1px;
-webkit-transform:rotate3d(0, 0, 1, -90deg);
transform:rotate3d(0, 0, 1, -90deg)
}
79.5%, to {
top:0px;
-webkit-transform:rotate3d(0, 0, 1, 0deg);
transform:rotate3d(0, 0, 1, 0deg)
}
}
#oc_frame4_carte4 {
    -webkit-transform-origin: 192px 372px;
    -ms-transform-origin: 192px 372px;
    transform-origin: 192px 372px;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-animation: oc_frame4_carte4 15s 3 ease-out forwards;
    animation: oc_frame4_carte4 15s 3 ease-out forwards
}
@-webkit-keyframes oc_frame4_carte4 {
0%, 77% {
top:1px;
-webkit-transform:rotate3d(0, 0, 1, -90deg);
transform:rotate3d(0, 0, 1, -90deg)
}
80%, to {
top:0px;
-webkit-transform:rotate3d(0, 0, 1, 0deg);
transform:rotate3d(0, 0, 1, 0deg)
}
}
@keyframes oc_frame4_carte4 {
0%, 77% {
top:1px;
-webkit-transform:rotate3d(0, 0, 1, -90deg);
transform:rotate3d(0, 0, 1, -90deg)
}
80%, to {
top:0px;
-webkit-transform:rotate3d(0, 0, 1, 0deg);
transform:rotate3d(0, 0, 1, 0deg)
}
}
#oc_cta {
  width: 300px;
  height: 250px;
  background-image: url("img/oc_cta.png");
  /*transition: background-image 0.5s;*/
  animation: oc_cta 10s 3 ease normal;
}

#oc_conteneur:hover #oc_cta {
  background-image: url("img/oc_cta2.png");
}
@-webkit-keyframes oc_frame1 {
0%, 22% {
opacity:1
}
25%, to {
opacity:0
}
}
@keyframes oc_frame1 {
0%, 20% {
opacity:1
}
22%, to {
opacity:0
}
}
@-webkit-keyframes oc_frame2 {
0%, 20% {
opacity:0
}
22%, 42% {
opacity:1
}
45%, to {
opacity:0
}
}
@keyframes oc_frame2 {
0%, 20% {
opacity:0
}
22%, 42% {
opacity:1
}
45%, to {
opacity:0
}
}
@-webkit-keyframes oc_frame3 {
0%, 42% {
opacity:0
}
45%, 65% {
opacity:1
}
68%, to {
opacity:0
}
}
@keyframes oc_frame3 {
0%, 42% {
opacity:0
}
45%, 65% {
opacity:1
}
68%, to {
opacity:0
}
}
@-webkit-keyframes oc_frame4 {
0%, 65% {
opacity:0
}
68%, 88% {
opacity:1
}
90%, to {
opacity:0
}
}
@keyframes oc_frame4 {
0%, 65% {
opacity:0
}
68%, 88% {
opacity:1
}
90%, to {
opacity:0
}
}
@-webkit-keyframes oc_frame5 {
0%, 88% {
opacity:0
}
90%, to {
opacity:1
}
}
@keyframes oc_frame5 {
0%, 88% {
opacity:0
}
90%, to {
opacity:1
}
}
@-webkit-keyframes oc_txt1 {
0% {
opacity:0;
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
3%, to {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@keyframes oc_txt1 {
0% {
opacity:0;
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
3%, to {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@-webkit-keyframes oc_cercle_rouge {
0% {
top:-41px;
-webkit-transform:scale(0);
transform:scale(0)
}
5%, to {
top:-40px;
-webkit-transform:scale(1);
transform:scale(1)
}
}
@keyframes oc_cercle_rouge {
0% {
top:-41px;
-webkit-transform:scale(0);
transform:scale(0)
}
5%, to {
top:-40px;
-webkit-transform:scale(1);
transform:scale(1)
}
}
@-webkit-keyframes oc_frame1_logo {
0%, 5% {
opacity:1;
-webkit-transform:scale(0);
transform:scale(0)
}
7% {
opacity:1;
-webkit-transform:scale(1.1);
transform:scale(1.1)
}
8%, 22% {
opacity:1;
-webkit-transform:scale(1);
transform:scale(1)
}
25%, to {
opacity:0;
-webkit-transform:scale(1);
transform:scale(1)
}
}
@keyframes oc_frame1_logo {
0%, 5% {
opacity:1;
-webkit-transform:scale(0);
transform:scale(0)
}
7% {
opacity:1;
-webkit-transform:scale(1.1);
transform:scale(1.1)
}
8%, 22% {
opacity:1;
-webkit-transform:scale(1);
transform:scale(1)
}
25%, to {
opacity:0;
-webkit-transform:scale(1);
transform:scale(1)
}
}
@-webkit-keyframes oc_frame1_ml {
0%, 5% {
opacity:0
}
8%, 22% {
opacity:1
}
25%, to {
opacity:0
}
}
@keyframes oc_frame1_ml {
0%, 5% {
opacity:0
}
8%, 22% {
opacity:1
}
25%, to {
opacity:0
}
}
@-webkit-keyframes oc_ml {
0% {
opacity:0
}
3%, to {
opacity:1
}
}
@keyframes oc_ml {
0% {
opacity:0
}
3%, to {
opacity:1
}
}
@-webkit-keyframes oc_frame2_promo {
0%, 25% {
opacity:0;
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
28%, 39% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
42% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@keyframes oc_frame2_promo {
0%, 25% {
opacity:0;
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
28%, 39% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
42% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@-webkit-keyframes oc_frame2_promo2 {
0%, 30% {
opacity:1;
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
30%, 39% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
42% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@keyframes oc_frame2_promo2 {
0%, 30% {
opacity:1;
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
30%, 39% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
42% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@-webkit-keyframes oc_frame3_voiture {
0%, 42% {
-webkit-transform:translate(-300px, -40px);
transform:translate(-300px, -40px)
}
45%, to {
-webkit-transform:translate(0, 0);
transform:translate(0, 0)
}
}
@keyframes oc_frame3_voiture {
0%, 42% {
-webkit-transform:translate(-300px, -40px);
transform:translate(-300px, -40px)
}
45%, to {
-webkit-transform:translate(0, 0);
transform:translate(0, 0)
}
}

@-webkit-keyframes oc_frame3_txt1 {
0%, 47% {
opacity:0;
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
52%, to {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@keyframes oc_frame3_txt1 {
0%, 47% {
opacity:0;
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
52%, to {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@-webkit-keyframes oc_frame3_txt2 {
0%, 49% {
opacity:0;
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
54%, to {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@keyframes oc_frame3_txt2 {
0%, 49% {
opacity:0;
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
54%, to {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@-webkit-keyframes oc_frame3_avion {
0%, 25% {
opacity:0;
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
28%, 39% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
42% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@keyframes oc_frame3_avion {
0%, 25% {
opacity:0;
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
28%, 39% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
42% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@-webkit-keyframes oc_frame3_ml {
0%, 30% {
opacity:1;
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
30%, 39% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
42% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@keyframes oc_frame3_ml {
0%, 30% {
opacity:1;
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
30%, 39% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
42% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@-webkit-keyframes oc_frame4_carte1 {
0%, 25% {
opacity:0;
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
28%, 39% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
42% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@keyframes oc_frame4_carte1 {
0%, 25% {
opacity:0;
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
28%, 39% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
42% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@-webkit-keyframes oc_frame4_carte2 {
0%, 30% {
opacity:1;
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
30%, 39% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
42% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@keyframes oc_frame4_carte2 {
0%, 30% {
opacity:1;
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
30%, 39% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
42% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@keyframes oc_cta {
  0%, 30% {
    opacity: 0;
    transform: translateY(-10px);
  }
  35%, 100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes oc_fadein {
0% {
opacity:1
}
2.5%, to {
opacity:0
}
}
@keyframes oc_fadein {
0% {
opacity:1
}
2.5%, to {
opacity:0
}
}
@-webkit-keyframes oc_fadeout {
0%, 99.5% {
opacity:0
}
to {
opacity:1
}
}
@keyframes oc_fadeout {
0%, 99.5% {
opacity:0
}
to {
opacity:1
}
}
